.panel.panel-default.text-center
    .panel-heading
        p.panel-title Book of #{FeaturedMonth}
    .panel-body
        a(href="/book/isbn-#{FeaturedISBN}/", style="color: inherit")
            img.img-thumbnail.img-responsive(src="#{FeaturedImage}", alt="#{FeaturedTitle}")
            p #{FeaturedTitle}
            p #{FeaturedWordcount} words
    .panel-footer
        p #[a(href="https://www.amazon.com/dp/#{FeaturedISBN}/?tag=#{ref}") View on Amazon]
        p #[a(href="/book/isbn-#{FeaturedISBN}/") Learn more on Reading Length]
div.text-center
    p(align="center") #[include ad.html]